* {
  padding: 0;
  margin: 0;
  background-color: #fffff4;
  color: #515151;
  font-family: 'Montserrat', sans-serif;
}

/* @media (min-width: 480px) and (max-width: 915px) */
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.logo-inicio {
  width: 80px;
  padding: 1rem 0;
  object-fit: contain;
}

.title {
  padding: 1rem 0;
  font-family: 'Alex Brush', cursive;
  font-size: 36px;
  align-self: center;
  vertical-align: bottom;
  white-space: nowrap;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.description {
  margin-top: 1rem;
  position: relative;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.input-login,
.input-register {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.email,
.password {
  margin-top: 12px;
  width: 242px;
  height: 34px;
  background: #fefae0;
  border: 1px solid #ccd5ae;
  border-radius: 15px;
  padding: 0 1rem;
  font-size: 12px;
}

.name,
.last-name,
.user-email,
.password,
.confirm {
  margin-top: 30px;
  width: 242px;
  height: 34px;
  background: #fefae0;
  border: 1px solid #ccd5ae;
  border-radius: 15px;
  padding: 0 1rem;
  font-size: 12px;
}

.status-login {
  color: red;
  font-size: 12px;
  padding-bottom: 1rem;
  text-align: center;
  width: 274px;
}

.login-btn,
.login-google-btn,
.register-btn {
  box-sizing: border-box;
  position: relative;
  width: 274px;
  height: 36px;
  background: #e9edc9;
  border: 1px solid #ccd5ae;
  border-radius: 155px;
  font-size: 16px;
}
.logout-btn {
  margin-left: 300px;
  margin-top: 0px;
  width: 50px;
  height: 15px;
  background: #e9edc9;
  border: 1px solid #ccd5ae;
  border-radius: 155px;
  font-size: 10px;
}
.publish-btn,
.modify-btn {
  box-sizing: border-box;
  position: relative;
  width: 120px;
  height: 25px;
  background: #e9edc9;
  border: 1px solid #ccd5ae;
  border-radius: 155px;
  font-size: 12px;
  margin: 15px;
}

.login-google {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 57px;
  position: relative;
}

.register-label {
  margin-top: 12px;
  font-size: 12px;
}

.register-link {
  font-weight: bold;
  text-decoration: none;
}

.wall {
  width: 80%;
  border: solid #515151 1px;
}

.post-container {
  padding: 20px;
  border-bottom: solid #515151 1px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
}

.post-user-image {
  width: 70px;
}

.post-image {
  width: 48px;
  object-fit: cover;
  border-radius: 24px;
}

.post-body {
  width: -webkit-fill-available;
}

.post-header,
.post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-user-name {
  font-size: 15px;
  font-weight: 700;
}
.post-user-email {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
}

.post-options {
  display: flex;
  flex-direction: row;
}

.trash {
  cursor: pointer;
  padding: 0.5rem;
}

.edit {
  cursor: pointer;
  padding: 0.5rem;
}

.post-comment {
  padding: 1rem 0;
  font-size: 15px;
}

.post-likes {
  background: none;
  border: 0;
  color: inherit;
  display: flex;
  flex-direction: row;
}

.post-date {
  font-size: 12px;
  font-weight: 300;
  margin-top: auto;
}

/* Animación Like */
.heart {
  background: url(images/animacion-like.png);
  background-position: left;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: relative;
  left: -10px;
  background-size: 1450px;
}
.heart:hover {
  background-position: right;
}
.like-count {
  margin-top: 17px;
  margin-left: 28px;
  font-size: 16px;
  color: #999999;
  position: absolute;
}

@-webkit-keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.heartAnimation {
  /* -webkit-animation-name: heartBlast;
  animation-name: heartBlast; */
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: steps(28);
  animation-timing-function: steps(28);
  background-position: right;
}

.hidden {
  display: none;
}
